body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center; 
}

code {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    
}

nav {
  text-align: center;
  background-color: white;
  top:0;
  margin-top: 0px; 
  display: flex;
  justify-content: center;
  padding: 10px 0; 
  /* border: 2px solid black;
   */
}

nav li { 
  float: left;
  list-style-type: none;
  margin: 0 65px
}

.nav-link { 
  text-decoration: none;
  font-size: 1.4em;
  color: #5E4B3C;
  font-weight: 700;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  display: block;
  transition: transform 0.2s ease-in-out; /* Smooth transition */

 
}

.nav-link:hover{ 
  transform: scale(1.1); 
  color:  #76553c;
}

/* {
  cursor: url(${elephantCursos}), auto;
} */



/* .app  */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
.App-header {
  background-color: #638fe6;
  min-height: 100vh;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(196, 191, 151);
  gap: 20px; 
}

.App-link {
  color: #61dafb;
} */

