body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: rgb(110, 182, 241); */
    margin: 0 auto;
    text-align: center;   
  
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
      
}

.welcome_note { 
    border-top: 1px rgb(6, 6, 6) solid;
    background-color:  rgb(110, 182, 241);
    padding-bottom: 200px;
    
}

.welcome_note h1 { 
    font-size: 80px;
}

.welcome_note p { 
    font-size: 30px;
    color: rgb(108, 76, 31);
    weight: 400px; 
}

.after_welcome{ 
    background-color: white;
    max-width: 700px;
    margin: 50px auto;
    font-size : 1.2em ;
}

.after_welcome div { 
  
}

hr { 
    /* width: 100% ; */
}



