body {
    /* margin: 0; */
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    text-align: center;     
  
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
      
}

.welcome_note { 
    /* border-top: 1px rgb(6, 6, 6) solid; */
    background-color:  rgb(110, 182, 241);
    padding:100px 0; 
    position: relative;
    width: 100%;
    height: 390px;
    font-family: 'Montserrat', sans-serif;

}

.overlay_container { 
    position: relative;
    width:100%; 
    height: 100vh;
    color: white;
    z-index: 4;
}

.background { 
    position: absolute;
    top:0;
    left : 0;
    bottom: 0px;
    width: 100%;
    padding-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.welcome_note h1 { 
    font-size: 80px;
}

.welcome_note p { 
    font-size: 30px;
    weight: 400px; 
}


.after_welcome{ 
    margin: 0px 0px auto;
    font-size : 1.2em ;

}

.dinning_halls { 
  position : relative ;
  display: flex;
  justify-content: center;
  
}
.ttt_info { 
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    height: 50px;
}

#bg { 
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
}

.overlay{ 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.556);
    z-index: 2;
    top: 0; 
    left:0;
    width: 100%;
    height: 100%;

}

.diner{ 
    z-index: 2;
    position:absolute;
    margin: 30px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 10px;
    /* border: 5px solid black; */
}

.diner div { 
    float: right;
    margin: 70px;
}

.diner img{ 
    /* border : 2px solid black; */
    width: 200px; 
    margin: 50px 20px  10px 10px;

}

.diner2{ 
    top: 230px;
}

.menu_list_but { 
    background-color:  rgb(108, 76, 31);
    border-radius: 5px;
    padding: 15px;
    margin: 0px 10px;
    font-size: 1em;
<<<<<<< HEAD
    
}

.menu_link { 
    color: white;
    text-decoration: none;
=======
    font-family: 'Montserrat', sans-serif;
>>>>>>> 623e7344e86fae85ec38dccc9fa155978693e550
}

footer{ 
    padding: 10px; 

}

@media (max-width : 900px) { 

    .welcome_note h1 { 
        font-size: 60px;
    }
    
    .diner img{ 
        width: 150px;
    }

    .diner div { 
        float: right;
        margin: 50px;
    }

    #bg { 
        width: 100%;
        height: 500px;
        z-index: 1;
        object-fit: cover;
    }

    .menu_list_but { 
        padding: 5px;
        margin: 0px 10px;
        font-size: 0.5em;
        width : 70px;
    }

    .ttt_info { 
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        height: 70px;
        font-size: 0.9em;
    }
}

@media (max-width : 700px) { 

    .welcome_note h1 { 
        font-size: 50px;
    }
    
    .diner img{ 
        width: 150px;
    }

    #bg { 
        width: 100%;
        height: 500px;
        z-index: 1;
        object-fit: cover;
    }

    .menu_list_but { 
        padding: 5px;
        margin: 0px 10px;
        font-size: 0.5em;
        width : 60px;

    }

    .ttt_info { 
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        height: 70px;
        font-size: 0.9em;
    }
}

@media (max-width : 500px) { 

    .ttt_info { 
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        height: 70px;
        font-size: 0.9em;
    }

    .welcome_note h1 { 
        font-size: 40px;
    }

    .welcome_note p { 
        padding: 10px;
        font-size: 25px;
    }
    
    .diner img{ 
        width: 150px;
    }

    .diner div { 
        float: right;
        margin: 30px;
    }
    
}







